.form-container {
  background-color: #E3F8FF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  color: #00E5FF;
}

.form-container form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container input {
  padding: 5px;
  border: none;
  border-radius: 4px;
  outline: none;
  border: 1px solid #D1D5DB;
  transition: border-color 0.2s ease;
}

.form-container input:hover {
  border-color: #4CAF50;
}

.form-container input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.3);
}

.form-container button {
  background-color: #4caf50;
  border: none;
  color: #ffff;
  border-radius: 8px;
  padding: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #116713;
}


.expense-select {
  width: 100%;
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  background-color: #F9FAFB;
  color: #111827;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

/* Hover */
.expense-select:hover {
  border-color: #4CAF50;
}

/* Focus (clicked) */
.expense-select:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.3);
}

/* Options (some browsers support this) */
.expense-select option {
  background-color: #ffffff;
  color: #374151;
  padding: 10px;
}
